# Compiled output
/dist/
out-tsc/

# Node modules
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/logs/

# Environment files
.env

# IDE and tooling
.vscode/
.pnp
.pnp.js

# OS-specific
.DS_Store

# Temp build artifacts
/tmp/
